.menuWave {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;

  .menu {
    width: 200px;
    height: 100%;
    background: #FFF;
  }
  .menuBar {
    width: 200px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .links {
      text-align: center;
      width: 10rem;
      padding: 1rem 0;
      font-size: 1.8rem;
      font-family: 'Kalam', cursive;
      font-weight: 800;
      text-shadow: -1px -1px 0 #636363, 1px -1px 0 #636363, -1px 1px 0 #636363, 1px 1px 0 #636363;

      &:hover {
        opacity: 0.8;
      }

      &:first-of-type {
        &:after,
        &:before {
          display: none;
        }
      }

      &:after,
      &:before {
        backface-visibility: hidden;
        border: 1px solid rgba(#fff, 0);
        content: " ";
        display: block;
        margin: 1rem auto;
        transition: all 280ms ease-in-out;
        width: 0;
      }

      &:hover:after,
      &:hover:before {
        backface-visibility: hidden;
        border-color: #ffbf00;
        transition: width 350ms ease-in-out;
        width: 100%;
      }

      &:hover:before {
        bottom: auto;
        width: 100%;
      }
    }
  }

  .activeLink {
    &:after,
    &:before {
      border: 1px solid #ffbf00;
      content: " ";
      display: block;
      margin: 1rem auto;
      width: 10rem;
      position: absolute;
    }

    &:before {
      margin: -1.1rem auto;
    }
  }

  .wave {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100px;
  }

  .wave1{
    animation: animate 30s linear infinite;
    opacity: 1;
    animation-delay: 0s;
    left: 200px;
    background: url('./../images/waveVertical.png');
    background-size: 100px 1000px ;
  }
  .wave2{
    animation: animate2 15s linear infinite;
    z-index: 999;
    opacity: 0.5;
    animation-delay: -5s;
    left: 215px;
    background: url('./../images/waveVertical.png');
    background-size: 100px 1000px;
  }
  .wave3{
    animation: animate 30s linear infinite;
    z-index: 998;
    opacity: 0.2;
    animation-delay: -5s;
    left: 215px;
    background: url('./../images/waveVertical.png');
    background-size: 100px 1000px;
  }
  .wave4{
    animation: animate2 2s linear infinite;
    z-index: 997;
    opacity: 0.7;
    animation-delay: -5s;
    left: 225px;
    background: url('./../images/waveVertical.png');
    background-size: 100px 1000px;
  }
}

@keyframes animate{
  0%{
    background-position-y: 0;
  }
  100%{
    background-position-y: 1000px;
  }
}

@keyframes animate2 {
  0% {
    background-position-y: 0;
  }
  100% {
    background-position-y: -1000px;
  }
}

.loginName {
  font-size: 1.5rem;
  color: #ffbf00;
  text-shadow: 1px 1px #000;
  font-family: 'Indie Flower', cursive;
  padding-bottom: 1rem;
}

.logOut {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}