body {
  overflow-x:hidden;
  width: 100%;
}

.container {
  width: 70rem;
  height: 40rem;
  background-color: #FFFFFF;
  position: absolute;
  top: 20%;
  left: 25%;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  box-shadow: 1.5rem 1.5rem 2rem grey;
  border: 1px solid rgba(0, 0, 0, 0.5);
}


.error {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40rem;
  height: 10rem;
  position: absolute;
  top: 30%;
  left: 22%;
  background-color: #ffe6e6;
  border: 0.1rem solid #ff5050;

  .error-message {
    color: #ff5050;
    font-family: 'Muli', sans-serif;
    font-size: 1rem;
  }

  i {
    margin: 1rem;
    font-size: 2rem;
    color: #ff5050;
    cursor: pointer;
  }
}

.fadeIn {
  -webkit-animation: fadein 1s;
  -moz-animation: fadein 1s;
  -ms-animation: fadein 1s;
  -o-animation: fadein 1s;
  animation: fadein 1s;

  @keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
  }
}

.fadeOut {
  -webkit-animation: fadeout 1s;
  -moz-animation: fadeout 1s;
  -ms-animation: fadeout 1s;
  -o-animation: fadeout 1s;
  animation: fadeout 1s;

  @keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
  }
}

.animate {
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  animation-fill-mode: both;
  -webkit-animation-fill-mode: both;
}

@keyframes slideIn {
  0% {
    transform: translateY(1rem);
    opacity: 0;
  }
  100% {
    transform:translateY(0rem);
    opacity: 1;
  }
  0% {
    transform: translateY(1rem);
    opacity: 0;
  }
}

@-webkit-keyframes slideIn {
  0% {
    -webkit-transform: transform;
    -webkit-opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    -webkit-opacity: 1;
  }
  0% {
    -webkit-transform: translateY(1rem);
    -webkit-opacity: 0;
  }
}

.slideIn {
  -webkit-animation-name: slideIn;
  animation-name: slideIn;
}